* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    font-family: var(--fonte-texto);
    overflow-x: hidden;
}
